.App{
 max-width: 950px;
 min-width: 350px;
}
select{
  border-style: none;
  -webkit-appearance: none;
  font-size: 62px;
  margin-top: 10px;
  margin-left: 45px;
  padding: 5px;
}
select:active{
  border-style: none;
}

.detailedWeatherContainer{
  margin-left:35px;
}
.dateAndTypeDeatiledWeather{
    margin-left: 20px;
}
.cont{
  padding: 0px 0px 20px 20px;
}
.detailedRight{
  width:45%;
  float:right !important;
}
.detailedLefT{
  width: 45%;
}
.image{
  padding-right: 30px;
}
.dayName{
  padding-top: 10px;
}
.bigTemperature{
  font-size: 36px;
  margin-left: 10px;
}

.col40{
  float: left;
  width: 30%;
  margin-left: 25px;
}
.col15{
  float: left;
  width: 15%;
  text-align: center;
  vertical-align: middle;
}
.col15mob{
  float: left;
  width: 15%;
  text-align: center;
  vertical-align: middle;
}
.basicInfo{
  padding: 30px 30px 45px 30px;
}

.gray{
  color: gray;
}

.higher{
  padding-bottom: 50px;
}
.image{
 width: 60px;
 height: 30px;
}
@media (max-width: 860px ){
  .basicInfo:after{
    content: ""; /* This is necessary for the pseudo element to work. */ 
      position: absolute;
      left: 5%;
      display: block; /* This will put the pseudo element on its own line. */
      text-align: center; /* This will center the border. */
      width: 90%; /* Change this to whatever width you want. */
      padding-top: 50px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid #d1c7c7; 
  }
}
@media (max-width: 520px){

 .temperatureContainer:after{
  display: block;
 }

 .temperatureContainer{
   float: left;
   width: 15%;
 }
 .col15mob{
   float: initial !important;
 }
 .basicInfo{
  padding: 30px;
  
}
}

@media (min-width: 860px) {
  .col15mob{
    width: auto;
  }
  .basicInfo{
    border-bottom: none;
    display:inline-block !important;
    width: 10%;
    margin:auto;
  }
  .col15{
    display: inline-block !important;
    width: auto;
  }
  .col45{
    display: inline-block !important;
  }
  .temperature{
    margin-top: 10px !important;
  }
  .col15mob{
    padding-top: 15px;
    display: inline-block;
    
  }
  .col15{
    margin-top: 1px;
    text-align: center !important;
    
  }

  .image{
    padding-left: 25%;
  }
  .item{
    padding-top: 1px !important;
  }
  .itemPollen{
    white-space: nowrap;
   
  }
  .centerIt{
    margin-left: 32%;
    text-align: -webkit-center;
  }
  .temperature2{
    margin-left: 5px;
  }
}