
select{
  border-style: none;
  -webkit-appearance: none;
  font-size: 62px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
}
select:active{
  border-style: none;
}


.dateAndTypeDeatiledWeather{
    margin-left: 20px;
}
.kurwa{
  padding: 0px 0px 20px 20px;
}
.detailedRight{
  width:45%;
  float:right !important;
}
.detailedLefT{
  width: 45%;
}
.bigImage{
  margin-left: 15px;
  width: 50%;
}
.bigTemperature{
  font-size: 36px;
  margin-left: 10px;
}

.col40{
  float: left;
  width: 30%;
  margin-left: 25px;
  

}
.col15{
  float: left;
  width: 15%;
  text-align: center;
  vertical-align: middle;
}
.basicInfo{
  padding: 30px;
}
.gray{
  color: gray;
}

.higher{
  padding-bottom: 50px;
}
.image{
 width: 60px;
 height: 30px;
}

@media (max-widt: 400px){
  .smallestColumnMobile{
    float:left;
  }
}
@media (min-width: 650px) {
  .basicInfo{
    float:left;
    width: 25%;
  }
  .col15{
    float:none;
  }
  .col45{
    float:none;
  }
}